/*
- Soft red: hsl(14, 88%, 65%)
*/

html {
  box-sizing: initial;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(#af67e9, #6565e7);
  color: var(--text-blue);
}

h1,
h2,
h3 {
  margin-top: 0;
}

.card {
  background: #ffffff;
  border-radius: 2rem;
  max-width: 56rem;
  padding: 2.875rem 1.5rem;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 15rem;
}

.card-box {
  display: none;
}

.card-image {
  position: relative;
}

.card-image img {
  position: absolute;
  top: -6.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 15rem;
  height: auto;
}

.card-text {
  padding-top: 7rem;
}

.accordion-item {
  padding-top: 1rem;
  border-bottom: 1px solid #e7e7e9;
}

.accordion-item h2 {
  margin-bottom: 0;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  margin-bottom: 1rem;
  padding: 0.2rem;
  font-size: 0.875rem;
  font-family: "Kumbh Sans", sans-serif;
  text-align: left;
}

.accordion-question:hover {
  color: #f47c57;
}

.accordion-question.open {
  font-weight: 700;
}

.accordion-question::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 1rem;
  border: none;
  background-image: url("/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform 300ms ease-in-out;
}

.accordion-question:focus,
.accordion-question:focus-visible {
  border: none;
}

.accordion-question.open {
  font-weight: 700;
}

.accordion-question.open::after {
  transform: rotate(180deg);
}

.accordion-content {
  font-size: 0.75rem;
  line-height: 1.4;
  padding-bottom: 1rem;
}

.accordion-collapse {
  transition: height 300ms ease;
}

.accordion-collapse.collapse {
  display: none;
}

.accordion-collapse.collapsing {
  height: 0;
  overflow: hidden;
}

.accordion-collapse.open {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

.attribution a {
  color: #3e52a3;
}

/* DESKTOP STYLES */

@media (min-width: 56em) {
  body {
    padding: 5rem;
  }

  .card {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 4.375rem 6.25rem 4.375rem 0;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 45%;
    background-position: -13% center;
  }

  .card-box {
    display: block;
    position: absolute;
    z-index: 1;
    top: 57%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .card-image,
  .card-text {
    flex: 1;
  }

  .card-image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card-image img {
    position: relative;
    top: auto;
    left: auto;
    max-width: 25rem;
    transform: translateX(-4rem);
  }

  .card-text {
    padding-top: 0;
  }
}
